<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="habito">
    <meta name="description" content="Looking to find an apartment? Have a place to lease? We connect apartment owners, tenants, and subletters. Finding an apartment has never been easier.">
    <meta name="keywords" content="apartment, apt, subletters, sublease, tenants">
    <title>Habito</title>
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/home_page.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/timeline.css' %}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    habito
                </a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/browse">Browse</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search" style="line-height:inherit"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="page-scroll">
                        <a href="/me">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <li class="">
                        <a href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/login">Log In</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/register">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading lead">We simplify your apartment hunt.</h1>
                        <!-- <button class="btn btn-lg btn-outline-inverse">Get Started</button> -->
                        <div class="input-group col-md-8 home-search-div">
                            <input type="text" class="form-control home-search home-search-field has-feedback" placeholder="Where are you looking to live?">
                            <div class="input-group-addon home-search home-search-button"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- About Section -->
    <section id="about">
        <div class="container">
<!--
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
-->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'website/img/about/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                    <h4>2009-2011</h4>-->

                                    <h2 class="subheading" style="font-weight:100; font-size:25px;">Looking to find a place?</h2>
                                </div>
                                <div class="timeline-body">
                                   
<!--                                    <p class="text-muted">Looking to find an apartment?</p>-->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'website/img/about/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
-->
                                   <h2 class="subheading" style="font-weight:100; font-size:25px;">Have a place to lease?</h2>
                                </div>
                                <div class="timeline-body">
                                
<!--                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'website/img/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                    <h4>December 2012</h4>-->
<!--                                    <h4 class="subheading">Transition to Full Service</h4>-->
                                   <h2 class="subheading" style="font-weight:100; font-size:25px;">We connect apartment owners, tenants, and subletters.</h2>
                                </div>
                                <div class="timeline-body">
<!--                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'website/img/about/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                    <h4>July 2014</h4>-->
<!--                                    <h4 class="subheading">Phase Two Expansion</h4>-->
                                   <h2 class="subheading" style="font-weight:100; font-size:25px;">Finding an apartment has never been easier.</h2>
                                </div>
                                <div class="timeline-body">
<!--                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Click here<br>to
                                    <br>begin!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="footer">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Email</t><br/>
                        habitodev@gmail.com<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <br/>
                    <p>
                        <a href="http://www.linkedin.com/in/briansudev/"><i class="icon-linkedin icon-2x" style="padding: 15px;"></i></a>    
                        <a href="http://www.github.com/briansudev"><i class="icon-github icon-2x"></i></a>

                    </p>
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </section>

</body>
<script src="{% static 'website/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/home_page.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
	// RANDOMLY CHANGE HEADER PICTURE
	$(function() {
		var photos = ['chandlier', 'cozy_bed', 'snow', 'window_view', 'balloon', 'craft', 'desk', 'gg', 'narrow', 'office_bw', 'water'];
		var randomImage = photos[Math.floor(Math.random() * photos.length)];
		var imageURL = 'website/img/' + randomImage + '_low_opa_compressed.jpg';
		var url = "{% static 'website/img/chandlier_low_opa.jpg' %}";
		$(".intro").css("background", "url(" + "{% static "" %}" + imageURL + ") no-repeat center center fixed");
		$(".intro").css("background-size", "cover");
		$(".intro").css("-webkit-background-size", "cover");
		$(".intro").css("-moz-background-size", "cover");
		$(".intro").css("-o-background-size", "cover");
	});
</script>
</html>
