{% extends "website/header.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link href="{% static 'website/css/post.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="main">
<div class="panel panel-body content-panel" style="max-width:520px;margin-left:auto; margin-right:auto;">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Home Type</label>
        <div class="col-sm-10">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default radio-btn btn-lg active">
                <input type="radio" name="options" id="option1" checked><i class="fa fa-2x fa-building-o"></i>  Apartment
              </label>
              <label class="btn btn-default radio-btn btn-lg">
                <input type="radio" name="options" id="option2"><i class="fa fa-2x fa-home"></i>  House
              </label>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Room Type</label>
        <div class="col-sm-10">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-lg radio-btn active">
                <input type="radio" name="room-type" id="option1" checked>Entire Place
              </label>
              <label class="btn btn-lg radio-btn btn-default">
                <input type="radio" name="room-type" id="option2">Private Room
              </label>
              <label class="btn btn-lg radio-btn btn-default">
                <input type="radio" name="room-type" id="option3">Shared Room
              </label>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Beds</label>
        <div class="col-sm-10">
            <div class="btn-group" data-toggle="buttons">
              <label for="" class="btn btn-lg btn-default radio-btn active"><input type="radio" name="beds" id="1" checked>1</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="2">2</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="3">3</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="4">4</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="5">5</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="6">6</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="7">7</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="8">8</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="beds" id="9">9</label>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Bathrooms</label>
        <div class="col-sm-10">
            <div class="btn-group" data-toggle="buttons">
              <label for="" class="btn btn-lg btn-default radio-btn active"><input type="radio" name="baths" id="1" checked>1</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="2">2</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="3">3</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="4">4</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="5">5</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="6">6</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="7">7</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="8">8</label>
              <label for="" class="btn btn-lg btn-default radio-btn"><input type="radio" name="baths" id="9">9</label>
            </div>
        </div>
      </div>
      <div class="form-group text-center">
          <button type="submit" class="btn btn-default btn-lg">Next <i class="fa fa-angle-double-right"></i></button>
      </div>
    </form>
</div>
</section>
    <section id="footer">
        <div class="container">
            <div class="row">
            
                <div class="col-xs-2">
                    <h3 style="font-weight:300">HABITO</h3>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <p class="links" style="font-weight:300">
                        <a href="#">About</a><br/>
                        <a href="#">Press</a><br/>
                        <a href="#">Blog</a><br/>
                        <a href="#">Help</a><br/>
                        <a href="#">Policies</a><br/>
                        <a href="#">Terms &amp; Privacy</a>
                    </p>
                </div>
                <div class="col-xs-4 text-center">
                    <br/>
                    <p>
                        <a href="#">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle-thin fa-stack-2x" style="color:white"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="#">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle-thin fa-stack-2x" style="color:white"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="https://www.linkedin.com/company/3810081">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle-thin fa-stack-2x" style="color:white"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="#">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle-thin fa-stack-2x" style="color:white"></i>
                              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </p>
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </section>
{% endblock %}
{% block javascript %}
<script src="{% static 'website/js/post.js' %}"></script>
<script src="{% static 'website/js/gen/cover-pic.js' %}"></script>
<script>
	// RANDOMLY CHANGE HEADER PICTURE
	$(function() {
		loadCoverPic(".main", {{ STATIC_URL }});
	});
</script>
{% endblock %}