{% extends "website/header.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link href="{% static 'website/css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class='auth-div'>
    {% if registered %}
    <div class="alert alert-success" role="alert">You have successfully registered. Please check your email for a confirmation.</div>
    {% else %}
    {% if user_form.non_field_errors %}
    <div class="alert alert-danger text-center" role="alert"> 
        {% for err in user_form.non_field_errors %}
        <div class="form_error_message"><strong>{{ err }}</strong></div>
        {% endfor %}
    </div>
    {% endif %}
    <form id="user_form" class="form-horizontal" method="post" action="/register/"
        enctype="multipart/form-data" role='form'>
        {% csrf_token %}
        {% for field in user_form %}
        <div class="form-group">
            <input class="form-control" name="{{ field.html_name }}" maxlength="{{ field.field.max_length }}" type="text" placeholder="{{ field.label }}">
        {{ field.errors }}
        </div>
        {% endfor %}
        <!-- Provide a button to click to submit the form. -->
        <div class='form-group'>
            <input type="submit" name="submit" class="btn btn-success" value="Sign Up" />
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'website/js/auth_page.js' %}"></script>
{% endblock %}
