{% extends "website/header.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link href="{% static 'website/css/register.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class='auth-div'>
    {% if registered %}
    <div class="alert alert-success" role="alert">You have successfully registered. Please check your email for a confirmation.</div>
    {% else %}
    <form id="user_form" class="form-horizontal" method="post" action="/register/"
            enctype="multipart/form-data" role='form'>
        {% csrf_token %}
        {% for field in user_form %}
            <div class="form-group">
                {{ field.label_tag }}
                <div class="col-sm-8">{{ field }}</div>
            </div>
            {{ field.errors }}
        {% endfor %}
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" class="btn btn-success" value="Sign Up" />
    </form>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'website/js/auth_page.js' %}"></script>
{% endblock %}
