body {
    padding-top:50px;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: white;
    color:#428bca;
    font-weight:300;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #428bca;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li.active a {
    color:white;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    color:white;
    background-color: #428bca;
}

.navbar-toggle {
    /*padding: 4px 6px;*/
    font-size: 16px;
    color: #428bca;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
    	padding-top:0;
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        border-bottom: none;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: white;
    }

    .top-nav-collapse a {
        color: #428bca;
    }
    .top-nav-collapse li.active a {
        color:white;
        background-color:#428bca;
    }

    .top-nav-collapse .nav li a:hover,
    .top-nav-collapse .nav li a:focus,
    .top-nav-collapse .nav li.active {
        outline: 0;
        color:white;
        background-color: #428bca;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid #eee;
    }
}

.post-listing {
    padding:5px;
    margin-top:10px;
    color:white;
    font-weight:300;
    border-radius:0;
    margin-left:5;
    font-weight:300;
}

/** Dropdown **/
.dropdown-menu .dropdown-a {
    color: #428bca;
    font-weight:300;
}

.dropdown-menu {
    min-width:0;
    border:none;
}

.navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.top-nav-collapse .nav .open > a,
.top-nav-collapse .nav .open > a:hover,
.top-nav-collapse .nav .open > a:focus {
  background-color: #428bca;
  color:white;
}