body {
    padding-top:50px;
}

.navbar {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background-color: #000;*/
    padding-top:20px;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li.active a {
    color:white;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    color:white;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
    	padding-top:0;
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: white;
    }

    .top-nav-collapse a {
        color: #428bca;
    }
    .top-nav-collapse li.active a {
        color:white;
        background-color:#428bca;
    }

    .top-nav-collapse .nav li a:hover,
    .top-nav-collapse .nav li a:focus,
    .top-nav-collapse .nav li.active {
        outline: 0;
        color:white;
        background-color: #428bca;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid #eee;
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    }
}