body {
    font-family: Lato;
}

#profile {
	width:300px;
	height:400px;
	border:1px solid gray;
	border-radius: 4px;
}

.auth-div {
    margin-top:50px;
	width:200px;
}

#login-div {
	width:200px;
}

.form-horizontal .control-label {
	text-align:left;
}
